*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f4f4f4;
}

nav{

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:20px 50px;

    background:#1e293b;

    color:white;

}

nav ul{

    display:flex;

    list-style:none;

}

nav ul li{

    margin-left:20px;

}

nav a{

    color:white;

    text-decoration:none;

}

.hero{

    text-align:center;

    margin-top:120px;

}

.hero h1{

    font-size:48px;

    margin-bottom:20px;

}

.hero p{

    font-size:22px;

    margin-bottom:25px;

}

button{

    padding:12px 25px;

    border:none;

    background:#2563eb;

    color:white;

    border-radius:5px;

    cursor:pointer;

}

button:hover{

    background:#1d4ed8;

}
